.App {
  text-align: center;
  background-color: #0B2626;
}

.mainS {
  margin: auto;
}

.beerbox {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8vw;
}

.tagbox {
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: antiquewhite;
width: 10vw;
}

.labels {
  height: 7vw;
  width: 7vw;
}