.App {
  text-align: center;

  background-color: #0b2626;
}

.change-page {
  position: absolute;
  right: 1vw;
  top: 1vw;
}
body {
  background-color: #0b2626;
}

.mainS {
  margin: auto;
}

.box {
  position: absolute;
  background-color: #e3b449;
  /* width: 35vw;
  height: 65vw; */
  height: 45vw;
  width: 25vw;
  border-radius: 2vw;
  /* margin-left: 55vw; */
  right: 9vw;
  /* margin-top: 2.5vw; */
  top: 4vw;
}

.beerbox {
  background-color: #0b2626;
  position: absolute;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8vw;
  margin-top: 4.5vw;
}

.tagbox {
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: antiquewhite;

  width: 10vw;
}

.labels {
  height: 7vw;
  width: 7vw;
}

/* WELCOME */
.Welcome {
  position: absolute;
  left: 10vw;
  top: 2vw;
  width: 45vw;
}

.WelcomeTitle {
  position: absolute;
  color: #e3b449;
  font-size: 6.5vw;
}

.WelcomeText1 {
  position: absolute;
  color: #ffffff;
  font-size: 1.9vw;
  top: 22vw;
  font-weight: 300;
}
.WelcomeText2 {
  position: absolute;
  color: #ffffff;
  font-size: 1.9vw;
  top: 30.8vw;
  font-weight: 300;
}

/* FIELDSET */
fieldset {
  border-style: hidden;
}

/* FORM */
/* .Form {
  background-color: #e3b449;
  width: 39vw;
  height: 78vw;
  border-radius: 2vw;
  position: relative;
} */

/* BUTTON */
.Button {
  border: transparent;
  border-radius: 1.5vw;
  background-color: #afa188;
  height: 4.5vw;
  width: 100%;
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  font-weight: 800;
  font-size: 1.5vw;
}

/* TABLES */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 2vw;
  height: 2vw;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  border: 3px solid #f00;
  cursor: pointer;
  border-radius: 100%;
}

.Tables {
  position: absolute;
  background-color: #ffffff;
  height: 20vw;
  width: 20vw;
  bottom: 12vw;
  left: 2.5vw;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  border-radius: 0.5vw;
}

.TablesGrid {
  align-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 20vw;
  width: 20vw;
}

.TablesText {
  font-weight: 800;
  color: #ffffff;
  z-index: 10;
  position: relative;
  font-size: 1.5vw;
}

.TablesOrder {
  font-size: 1.5vw;
  font-weight: 800;
}

.TablesHeader {
  font-size: 1.1vw;
  text-align: left;
  margin-left: 3vw;
  position: absolute;
  bottom: 32vw;
  font-weight: 700;
}

.Table {
  position: relative;
}

.Img1Collum1 {
  left: 0.8vw;
  top: -1.6vw;
}

.Img1Collum2 {
  left: 0.8vw;
  top: -1.6vw;
}

.Img1Collum3 {
  left: 0.8vw;
  top: -1.6vw;
}

.Img2Collum1 {
  left: 0.3vw;
  top: -2.2vw;
}

.Img2Collum2 {
  left: 0.3vw;
  top: -2.2vw;
}

.Img2Collum3 {
  left: 0.3vw;
  top: -2.2vw;
}

.TableRow1 {
  position: absolute;
  z-index: 1;
  width: 5vw;
  height: 5vw;
}

.TableRow2 {
  position: absolute;
  width: 6vw;
  height: 6vw;
  z-index: 1;
}

.TableRow3 {
  position: absolute;
  width: 6vw;
  height: 6vw;
  z-index: 1;
}
/* ORDERING */
.itemsHolder {
  height: 15vw;
  width: 23vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.total {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 5.5vw;
  width: 23vw;
  background-color: #ffffff;
  border-radius: 0.5vw;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2vw;
}

.Extra input {
  border: transparent;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5vw;
  width: 33vw;
  height: 3.8vw;
}

.Item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  height: 11.5vw;
  width: 33vw;
  background-color: #ffffff;
}

.labels {
  height: 9vw;
  width: 9vw;
}

.info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.7vw;
  margin-top: -0.8vw;
}

.info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -0.6vw;
}

h2 {
  font-size: 0.7vw;
}

p {
  font-size: 0.8vw;
  font-weight: 500;
}

/* CART */
.cart {
  position: absolute;
  z-index: 2;
  height: 40vw;
  width: 30vw;
  margin-left: 1vw;
  margin-top: 1vw;
}

#details {
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5vw;
  align-items: baseline;
}

#details button {
  border-radius: 15vw;
  background-color: rgb(218, 138, 35);
  margin-right: 1vw;
}

.items {
  display: flex;
  flex-direction: row;
  height: 2vw;
  width: 20.5vw;
  margin-top: 0.5vw;
}

.items img {
  height: 2.2vw;
  margin-top: 0.6vw;
  margin-right: 0.5vw;
}

.addfield {
  height: 5.5vw;
  width: 20.5vw;
  background-color: white;
  border-radius: 0.5vw;
  text-align: left;
  padding: 1vw;
  margin-top: 2vw;
}

.subtotal {
  height: 3.5vw;
  width: 20.5vw;
  background-color: white;
  border-radius: 0.5vw;
  text-align: left;
  padding: 1vw;
  margin-top: 10vw;
}

.total {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 5vw;
  width: 20.5vw;
  background-color: white;
  border-radius: 0.5vw;
  text-align: left;
  padding: 1vw;
  top: 7vw;
}

.paybtn {
  background-color: rgb(65, 29, 9);
  border-radius: 0.5vw;
  text-align: left;
  height: 3vw;
  width: 25.5vw;
  margin-top: 6vw;
  margin-left: -2vw;
  color: white;
  text-align: center;
  font-size: 2vw;
}

input {
  width: 20vw;
  height: 2.3vw;
  border-radius: 0.6vw;
  border: 2px solid white;
  margin-top: 1vw;
  margin-right: 8vw;
}
